      /*Paleta de colores
.color1 { #198754 };
.color2 { #789048 };
.color3 { #c0d860 };
.color4 { #f0f0d8 };
.color5 { #604848 };*/

/*Header - Footer*/

.titulo1 {
  font-weight: bolder;
  color:#f0f0d8;
  padding-left: 10px;
}

.fondo1 {
  background-color: #198754;
}

/*Boton Indice*/

.text-right {
  display: flex;
  justify-content: flex-end;
}

.btnIndex {
  background-color: #604848;
  font-size: 20px;
  margin-top: 10px;
  margin-right: 25px;
  color: #f0f0d8;
  border-radius: 35px;
}

.btnIndex:hover {
  border-color: #33381F;
  background-color: #f0f0d8;
  
}

/*Secciones*/

.titulo2 {
    font-weight: bolder;
    color:#789048;
    padding-left: 10px;
  }

h3{
    letter-spacing: 2px;
    font-family: 'Hurricane', cursive;
    padding-top: 20px;
    font-size: 70px;
    color: rgb(77, 128, 107);
}
.encuesta{
    margin-top: 50px;
    margin-bottom: 60px;
}
.colorLabel{
    color: #604848;
}
.checkbox{
    margin-left: 10px;
    background-color: #f0f0d8
}
.inputs{
    padding: 20px;
    background-color: #f0f0d8
} 
.checks{
    padding: 20px;
    background-color: #f0f0d8
}
.radios{
    padding: 20px;
    background-color: #f0f0d8
}

.hover:hover {
    color: #33381F;
    background-color: #c0d860;
    
  }

.Resultados{
    margin-top: 50px;
    text-align: center;
}

p{
    font-size: 25px;
    color: #604848;
}
