/*Paleta de colores
.color1 { #198754 };
.color2 { #789048 };
.color3 { #c0d860 };
.color4 { #f0f0d8 };
.color5 { #604848 };*/

/*Header - Footer*/

.titulo1 {
    font-weight: bolder;
    color:#f0f0d8;
    padding-left: 10px;
}

/*.container-fluid2 {
    padding-top: 5px;
    padding-bottom: 5px;
}*/

.fondo1 {
    background-color: #198754;
}


/*Secciones*/
.error {
    border: red solid 1px;
}

.cursor {
    cursor: pointer;
}

.animacion2 {
    width: 70%;
}

.hover-color:hover {
    color: #000000; /* Cambia el color del texto cuando el cursor está sobre el botón */
    background-color: #c0d860; /* Cambia el color de fondo cuando el cursor está sobre el botón */
    border-color: #c0d860; /* Cambia el color del borde cuando el cursor está sobre el botón */
}